@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200;300;500&display=swap');
body{
    font-family: 'Roboto Serif', serif;
    font-size: 19px;
}

.bodydiv{
    background-image: url("../images/bg_body_paris.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.selectors > div {
    border-bottom: 1px gray solid;
    margin-left: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.blocknano {
    text-align: center;
    height: 100%;
    background-color: rgb(255 255 255 / 90%);
}

.blocknano > div {
    margin-top: 5%;
    max-width: 700px;
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 20px;
}
.selectors > div:hover{
    color: #EA4C89;
    cursor: pointer;
    transition: ease-in 350ms, ease-out 350ms;
}

.selectors .select{
    background-color: green;
    color: white!important;
}


.selectors {
    margin-top: 20px;
}

.btn {
    float: right;
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.offcanvas-body{
    font-size: 15px;
}

.offcanvas-body>div{
    max-width: 1200px;
}

.title{
    border-bottom: 1px #ededed solid;
    position: relative;
    z-index: 10;
}
.title, .titleshadow{
    font-size: 24px;
    color: #0420aa;
    font-weight: 500;
    line-height: 25px;
}
.titleshadow{
    transform: scale(1, -1);
    color: #e4e4e4;
    transition: ease-in 5s, ease-out 5s;
}

.btn:hover,
.btn:focus {
    background-color: white;
    color: #EA4C89;
    border: 1px #EA4C89 solid;
}
.stat{
    text-align: right;
    font-weight: bold;
    font-family: arial;
    margin-bottom: 50px;
}

.form-label {
    margin: 0px;
    font-size: 16px;
}
