@import 'froala-editor/css/froala_style.min.css';
@import "froala-editor/css/froala_editor.min.css";
@import "froala-editor/css/plugins/code_view.min.css";
@import "froala-editor/css/plugins/colors.min.css";
@import "froala-editor/css/themes/dark.min.css";
@import "dark";


p{
  margin: 0!important;
}

.fr-wrapper>div:first-of-type {
  display: none;
}

pre.codeblock-code {
  background: var(--doc-codeblock-background);
  flex: 1;
  hyphens: none;
  margin-bottom: 0;
  padding: 5px 10px;
}

.fr-wrapper{
  background-color: black;
}

.fr-view pre{
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: visible;
  background-color: #333333;
  padding: 11px;
  border-radius: 7px;
}

.dark-theme.fr-box.fr-basic.fr-top .fr-wrapper
{
  background-color: black;
}

.dark-theme.fr-box.fr-basic .fr-element{
  color: white;
  font-family: var(--font-family-monospace);
}