{% extends 'base.html.twig' %}
{% block title %} Nanuliks {% endblock %}
{% block body %}
     <div class="blocknano">
         <div>
             <div id="showalert" class="alert alert-success alert-dismissible fade" role="alert">
                 <strong>Bravo!</strong>
             </div>
             <div class="stat">
                 <div><span id="step">1</span> / <span id="qtotal">15</span></div>
                 <div class="progress">
                     <div id="rht" class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100">0</div>
                     <div id="fht" class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100">0</div>
                 </div>

             </div>
             <div class="title">Affame</div>
             <div class="titleshadow">Affame</div>
             <div id="select" class="selectors">
                 <div>Бояться</div>
                 <div>Мечтать</div>
                 <div>Голодный</div>
                 <div>Тянуть</div>
             </div>
             <button id="valider" class="btn bgred mt-5">
                 Valider
             </button>
         </div>
     </div>
 {% endblock %}