{% extends 'base.html.twig' %}
{% block title %} Nanuliks {% endblock %}
{% block body %}
     <div class="blocknano">
         <div>
             <div id="showalert" class="alert alert-success alert-dismissible fade" role="alert">
                 <strong>Bravo!</strong>
             </div>
             <div class="stat">
                 <div><span>1</span> / <span>15</span></div>
             </div>
             <div class="title">Affame</div>
             <div class="titleshadow">Affame</div>
             <div id="select" class="selectors">
                 <div>Бояться</div>
                 <div>Мечтать</div>
                 <div>Голодный</div>
                 <div>Тянуть</div>
             </div>
             <button id="valider" class="btn bgred mt-5">
                 Valider
             </button>
         </div>
     </div>
 {% endblock %}